## Assignment-1 
#### Name: Kritika Jindal
#### Reg. No.: 20BCE1913

#### Q1. Assign your Name to variable name and Age to variable age. Make a Python program that prints your name and age.

In [1]:
name = "Kritika Jindal"
age = 21
print("Name: ",name,"\nAge:",age)

Name:  Kritika Jindal
Age: 21

#### Q2. X="Datascience is used to extract meaningful insights." Split the string

In [2]:
X= "Datascience is used to extract meaningful insights."
arr = X.split()
arr

['Datascience', 'is', 'used', 'to', 'extract', 'meaningful', 'insights.']

#### Q3. Make a function that gives multiplication of two numbers

In [3]:
def fmul(a,b):
    return a*b
print(fmul(2,5))

10

#### Q4. Create a Dictionary of 5 States with their capitals. also print the keys and values.

In [9]:
dict1 = {"Chhattisgarh":"Raipur","Gujarat":"Gandhinagar","Harynana":"Chandigarh","Manipur":"Imphal","Assam":"Dispur"}
for ky,val in dict1.items():
    print(ky+": "+itm)

Chhattisgarh: Dispur
Gujarat: Dispur
Harynana: Dispur
Manipur: Dispur
Assam: Dispur

#### Q5. Create a list of 1000 numbers using range function.

In [11]:
list1 = list()
for i in range(1,1001):
    list1.append(i)
    
print("Length of list:",len(list1))

Length of list: 1000

#### Q6. Create an identity matrix of dimension 4 by 4

In [12]:
import numpy as np
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

#### Q7. Create a 3x3 matrix with values ranging from 1 to 9.

In [13]:
np.arange(1, 10).reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

#### Q8. Create 2 similar dimensional array and perform sum on them.

In [16]:
x = np.arange(2,10)
y = np.arange(12,20)
res = x+y

print("Array 1: ",x)
print("Array 2: ",y)
print("Sum of the arrays:",res)

Array 1:  [2 3 4 5 6 7 8 9]
Array 2:  [12 13 14 15 16 17 18 19]
Sum of the arrays: [14 16 18 20 22 24 26 28]

#### Q9. Generate the series of dates from 1st Feb, 2023 to 1st March, 2023 (both inclusive)

In [17]:
import pandas as pd
series1 = pd.Series(pd.date_range(start ='2-1-2023', end ='3-1-2023'))
series1

0    2023-02-01
1    2023-02-02
2    2023-02-03
3    2023-02-04
4    2023-02-05
5    2023-02-06
6    2023-02-07
7    2023-02-08
8    2023-02-09
9    2023-02-10
10   2023-02-11
11   2023-02-12
12   2023-02-13
13   2023-02-14
14   2023-02-15
15   2023-02-16
16   2023-02-17
17   2023-02-18
18   2023-02-19
19   2023-02-20
20   2023-02-21
21   2023-02-22
22   2023-02-23
23   2023-02-24
24   2023-02-25
25   2023-02-26
26   2023-02-27
27   2023-02-28
28   2023-03-01
dtype: datetime64[ns]

#### Q10. Given a dictionary, convert it into corresponding dataframe and display it dictionary = {'Brand': ['Maruti', 'Renault', 'Hyndai'], 'Sales' : [250, 200, 240]}

In [19]:
dict2 = {'Brand': ['Maruti', 'Renault', 'Hyndai'], 'Sales' : [250, 200, 240]}
df = pd.DataFrame(dict2)
df

     Brand  Sales
0   Maruti    250
1  Renault    200
2   Hyndai    240